<div class="container">
  <main *ngIf="cart">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4 logo" src="../assets/icons/logo.svg" width="72" height="72" />
      <h2>Checkout form</h2>
      <p class="lead">You have {{ cart.totalItemsCount }} items in your shopping cart.</p>
    </div>

    <div class="row g-3">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge bg-secondary rounded-pill">{{ cart.totalItemsCount }}</span>
        </h4>
        <ul class="list-group mb-3">
          <li *ngFor="let item of cart.items" class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{ item.category | titlecase }}</h6>
              <small class="text-muted">{{ item.title }}</small>
            </div>
            <span class="text-muted">{{ item.totalPrice | currency: "EUR" }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EARLYBIRD</small>
            </div>
            <span class="text-success">−$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (EUR)</span>
            <strong>{{ cart.totalPrice | currency: "EUR" }}</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code" />
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form #billingForm="ngForm" class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input #firstName="ngModel" name="firstName" [(ngModel)]="billing.firstName" type="text" class="form-control" id="firstName" placeholder="" value="" required />
              <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
                <div *ngIf="firstName.errors.required">First name is required</div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input #lastName="ngModel" name="lastName" [(ngModel)]="billing.lastName" type="text" class="form-control" id="lastName" placeholder="" value="" required />
              <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
                <div *ngIf="lastName.errors.required">Last name is required</div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email </label>
              <input required #email="ngModel" name="email" [(ngModel)]="billing.email" type="email" class="form-control" id="email" placeholder="you@example.com" />
              <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors.required">Please enter a valid email address for shipping updates</div>
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input #address="ngModel" name="address" [(ngModel)]="billing.address" type="text" class="form-control" id="address" placeholder="1234 Main St" required />
              <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
                <div *ngIf="address.errors.required">Please enter your shipping address</div>
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
              <input #address2="ngModel" name="address2" [(ngModel)]="billing.address2" type="text" class="form-control" id="address2" placeholder="Apartment or suite" />
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <select #country="ngModel" name="country" [(ngModel)]="billing.country" class="custom-select" id="country" required>
                <option value="">Choose...</option>
                <option *ngFor="let country of countries">{{ country }}</option>
              </select>
              <div class="alert alert-danger" *ngIf="country.touched && country.invalid">
                <div *ngIf="country.errors.required">Please select a country</div>
              </div>
            </div>

            <div class="col-md-4">
              <label for="city" class="form-label">City</label>
              <input #city="ngModel" name="city" [(ngModel)]="billing.city" type="text" class="form-control" id="city" placeholder="" required />
              <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
                <div *ngIf="city.errors.required">Please provide a valid city</div>
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input #zip="ngModel" name="zip" [(ngModel)]="billing.zip" type="text" class="form-control" id="zip" placeholder="" required />
              <div class="alert alert-danger" *ngIf="zip.touched && zip.invalid">
                <div *ngIf="zip.errors.required">Please enter a zipcode</div>
              </div>
            </div>
          </div>

          <hr class="my-4" />

          <div class="form-check">
            <input #sameShippingAddress="ngModel" name="sameShippingAddress" [(ngModel)]="billing.sameShippingAddress" type="checkbox" class="form-check-input" id="same-address" />
            <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
          </div>

          <hr class="my-4" />

          <h4 class="mb-3">Payment</h4>

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">Name on card</label>
              <input #cardName="ngModel" name="cardName" [(ngModel)]="billing.cardName" type="text" class="form-control" id="cc-name" placeholder="" required />
              <small class="text-muted">Full name as displayed on card</small>
              <div class="alert alert-danger" *ngIf="cardName.touched && cardName.invalid">
                <div *ngIf="cardName.errors.required">Name on card is required</div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">Credit card number</label>
              <input #cardNumber="ngModel" name="cardNumber" [(ngModel)]="billing.cardNumber" type="text" class="form-control" id="cc-number" placeholder="" required />
              <div class="alert alert-danger" *ngIf="cardNumber.touched && cardNumber.invalid">
                <div *ngIf="cardNumber.errors.required">Credit card number is required</div>
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration</label>
              <input #cardExpiry="ngModel" name="cardExpiry" [(ngModel)]="billing.cardExpiry" type="text" class="form-control" id="cc-expiration" placeholder="" required />
              <div class="alert alert-danger" *ngIf="cardExpiry.touched && cardExpiry.invalid">
                <div *ngIf="cardExpiry.errors.required">Expiration date required</div>
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input #cardCvv="ngModel" name="cardCvv" [(ngModel)]="billing.cardCvv" type="text" class="form-control" id="cc-cvv" placeholder="" required />
              <div class="alert alert-danger" *ngIf="cardCvv.touched && cardCvv.invalid">
                <div *ngIf="cardCvv.errors.required">Security code required</div>
              </div>
            </div>
          </div>

          <hr class="my-4" />

          <button [disabled]="!billingForm.isValid" (click)="placeOrder()" class="w-100 btn btn-primary btn-lg" type="submit">Submit Order</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2015–2021 FoodN'Stuff</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
