<mat-card *ngIf="product.title" class="mat-elevation-z4">
  <img mat-card-image [src]="product.imageUrl" *ngIf="product.imageUrl" alt="{{ product.title }}" />
  <mat-card-content>
    <div class="product-details">
      <div>
        <mat-card-title>{{ product.title }} </mat-card-title> <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
      </div>
      <mat-card-title>{{ product.price | currency: "EUR" }} </mat-card-title>
    </div>
  </mat-card-content>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()" class="btn-block" mat-raised-button>Add to cart</button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</mat-card>
