.content {
  padding: 16px;
}

.content > mat-card {
  width: 700px;
}

.card-footer {
  padding: 0;
}

.mat-card {
  margin-bottom: 30px;
}

.mat-raised-button {
  color: white;
  overflow: hidden;
  background-color: #17a2b8;
}

.mat-card:hover {
  transform: scale(1.02);
  transition: transform 0.7s ease;
}

.col {
  font-size: 1rem;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
