.content {
  padding: 16px;
}

.card-footer {
  padding: 0;
  border-radius: 20px;
  border: none;
}

.mat-card {
  margin-bottom: 30px;
  border-radius: 20px;
}

.mat-raised-button {
  color: white;
  overflow: hidden;
  background-color: #17a2b8;
  border-radius: 20px;
}

.mat-raised-button:active {
  transform: scale(1.02);
  animation: transform 1 ease-in-out;
  box-shadow: 0px 0px 15px 2px grey;
}

.mat-card:hover {
  transform: scale(1.02);
  transition: transform 0.7s ease;
}

.card-img-top {
  height: 25vh;
  object-fit: cover;
}
