<div class="my-container">
  <h1 class="h1">Our Company History</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam dignissimos quis rem ratione, expedita nostrum illo officia eveniet, dicta maiores deleniti libero aspernatur qui odio quibusdam exercitationem deserunt optio quae explicabo? Vel deleniti saepe architecto, omnis
    ipsum aliquam id culpa fuga quibusdam quod, ullam quisquam sapiente quas. Assumenda nesciunt quo deserunt veniam velit totam, ipsam autem beatae repellat id quibusdam quae iusto numquam doloribus necessitatibus atque rerum natus ullam, quos aspernatur ad repudiandae
    perspiciatis voluptatibus. Odio nam porro sint iusto voluptatum soluta aperiam inventore quaerat obcaecati. Magni unde exercitationem modi, porro sint laboriosam, vero eaque id molestiae explicabo esse ad.
  </p>
  <div>
    <img *ngIf="imageLoading" class="img-fluid mx-auto" src="/assets/loadingImages/image_loading.gif" alt="loading" />

    <img [hidden]="imageLoading" (load)="onLoad()" class="img-fluid mx-auto" src="https://images.pexels.com/photos/3224117/pexels-photo-3224117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, sint consectetur? Aspernatur, assumenda! Corrupti saepe ducimus ex ab placeat molestiae. Fugit distinctio enim ea, dolorem modi, minima quas aliquid facilis non eius nobis veniam odio ex numquam eligendi ab
      excepturi voluptatum consectetur voluptates. Ullam quia ratione cupiditate accusamus vero mollitia?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quibusdam odit tempore veniam quam perferendis hic labore, aperiam porro illo nihil officiis id soluta, deserunt nisi. Asperiores, quia cupiditate modi eius necessitatibus, unde dolor obcaecati placeat beatae
      facere similique labore! Omnis temporibus voluptas, veritatis ad officiis quos ullam libero, quibusdam quas a accusamus! Ipsam necessitatibus perspiciatis, libero veritatis tempore facere natus amet dignissimos vel fugiat eveniet quis repellendus optio dolorum beatae quidem
      soluta delectus tenetur voluptas quos officia? Quas, architecto?
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione delectus neque ullam, dicta est vitae minima ipsum pariatur sed, nemo recusandae qui dolores veniam, laudantium consectetur ducimus placeat quos totam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsa a eos quidem, totam nemo, iste dignissimos vitae aperiam molestiae est commodi nihil rerum accusantium.</p>
  </div>
  <h1>Our Team</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eligendi suscipit quia consectetur cumque! Harum alias repellendus soluta nam accusamus excepturi nulla aperiam, non beatae facilis veniam id iure aut quis cum. Ullam beatae laboriosam quia ut totam porro
    iste voluptas delectus ratione fugiat explicabo vel, cum officiis dolorum excepturi incidunt modi esse placeat iure ea ad distinctio minus at in? Vitae, enim alias velit culpa quos laboriosam exercitationem nulla fugit fuga cumque autem officia eos harum distinctio nostrum
    eius quo error. Nemo at accusamus nam, doloremque in quo qui. Debitis quo vero atque provident sunt saepe suscipit laborum beatae.
  </p>

  <div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card mx-30">
            <img *ngIf="imageLoading" class="card-img-top" src="/assets/loadingImages/image_loading.gif" alt="loading" />
            <img [hidden]="imageLoading" (load)="onLoad()" src="https://i.postimg.cc/tR6QGPTK/pexels-photo-3824771.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Henry Walter</h5>
              <h6>Senior Manager</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="card mx-30">
            <img *ngIf="imageLoading" class="card-img-top" src="/assets/loadingImages/image_loading.gif" alt="loading" />
            <img [hidden]="imageLoading" (load)="onLoad()" src="https://i.postimg.cc/mgKqKwcf/2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Martha David</h5>
              <h6>UI / UX Designer</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mx-30">
            <img *ngIf="imageLoading" class="card-img-top" src="/assets/loadingImages/image_loading.gif" alt="loading" />
            <img [hidden]="imageLoading" (load)="onLoad()" src="https://i.postimg.cc/8zJz2c2s/pexels-photo-1300402.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Carlos Menzia</h5>
              <h6>Agriculture Expert</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mx-30">
            <img *ngIf="imageLoading" class="card-img-top" src="/assets/loadingImages/image_loading.gif" alt="loading" />
            <img [hidden]="imageLoading" (load)="onLoad()" src="https://i.postimg.cc/Y9zsGBdM/3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Laura Chedd</h5>
              <h6>Full-Stack Developer</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="card mx-30">
            <img *ngIf="imageLoading" class="card-img-top" src="/assets/loadingImages/image_loading.gif" alt="loading" />
            <img [hidden]="imageLoading" (load)="onLoad()" src="https://i.postimg.cc/rpj3gCf4/pexels-photo-3184611.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Austin Pedro</h5>
              <h6>Produce Manager</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mx-30">
            <img *ngIf="imageLoading" class="card-img-top" src="/assets/loadingImages/image_loading.gif" alt="loading" />
            <img [hidden]="imageLoading" (load)="onLoad()" src="https://i.postimg.cc/WzjcC7Hb/1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Julia Thorn</h5>
              <h6>Junior Developer</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mx-30">
            <img *ngIf="imageLoading" class="card-img-top" src="/assets/loadingImages/image_loading.gif" alt="loading" />
            <img [hidden]="imageLoading" (load)="onLoad()" src="https://i.postimg.cc/1t9P33jG/pexels-photo-709188.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Steve Burns</h5>
              <h6>Customer Representative</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card mx-30">
            <img *ngIf="imageLoading" class="card-img-top" src="/assets/loadingImages/image_loading.gif" alt="loading" />
            <img [hidden]="imageLoading" (load)="onLoad()" src="https://i.postimg.cc/bvyFGSqw/pexels-photo-374044.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">James Brigg</h5>
              <h6>Store Manager</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>Why Us</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, dignissimos, omnis non eveniet, necessitatibus porro harum vitae unde at aut minus doloremque veniam ad? Iste possimus aliquam voluptates deleniti a nulla quia voluptatem, numquam impedit earum totam explicabo
    aliquid consequatur quisquam, temporibus consectetur accusamus ab. Voluptatem modi nobis necessitatibus harum. Exercitationem officiis tempore molestiae possimus provident tempora quas consequuntur maiores, architecto illum culpa facilis optio ea sequi sapiente eius
    voluptatibus at iusto molestias odio nesciunt, quis sit. Iure quos quas quis, vero quo pariatur accusantium? Eum dolorem maiores et architecto nostrum asperiores temporibus. Hic velit maiores sapiente explicabo dolores quo. Blanditiis in, eos assumenda vitae cum sit animi
    provident perspiciatis rem iusto at molestias ducimus illum. Modi, quod. Quas sapiente, consequuntur praesentium quis minus corporis debitis, modi amet excepturi molestiae ab laborum rem vitae nostrum pariatur nisi aspernatur! Ad, ullam vitae. Accusamus aliquid, officia
    inventore illum deserunt eum debitis reprehenderit laboriosam adipisci aut itaque alias quia. Totam cum natus alias laboriosam adipisci ullam consectetur, iste nam praesentium enim. Quibusdam quo nam harum veniam similique minima mollitia officia ipsum quidem sit culpa, est
    tempore totam dolor temporibus nihil hic? Maiores, excepturi nihil voluptas praesentium consectetur suscipit voluptatum quae voluptatibus ducimus animi.
  </p>
  <h1>Our Farm Restaurant</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem iure quidem adipisci quis esse aliquam praesentium veniam officiis libero. Sit nobis illum est amet non laboriosam deserunt optio repellat tempora accusantium ipsa necessitatibus unde dicta a odio maxime,
    similique libero in eius eum ex reprehenderit iusto animi! Eius, quibusdam voluptatum!
  </p>
  <div class="row">
    <main class="grid">
      <img src="https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/156114/pexels-photo-156114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/718742/pexels-photo-718742.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/3026805/pexels-photo-3026805.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/370984/pexels-photo-370984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/1640775/pexels-photo-1640775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/3535383/pexels-photo-3535383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/808941/pexels-photo-808941.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
      <img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Sample photo" />
    </main>
  </div>
</div>
