.dropdown-toggle {
  cursor: pointer;
}

img {
  height: 20px;
}

.navbar-text {
  padding-right: 10px;
}

.nav-link {
  padding-left: 10px;
}

.disabled {
  color: rgb(133, 133, 133);
  opacity: 0.3;
}

nav {
  font-size: large;
}

.badge {
  border-radius: 20px;
  font-size: 1rem;
}

.dropdown-menu {
  padding: 0%;
  cursor: pointer;
}
