.bg-dark {
  background-color: rgba(39, 39, 39, 0.93) !important;
}

.disabled {
  color: rgb(168, 168, 168) !important;
}

.dropdown-toggle {
  cursor: pointer;
}

#navbarDropdownMenuLink {
  padding-left: 130px;
}

@media screen and (max-width: 974px) {
  #navbarDropdownMenuLink {
    padding-left: 10px;
  }
}

img {
  height: 20px;
  vertical-align: text-top;
}

.navbar-text {
  padding-right: 10px;
}

.nav-link {
  padding-left: 10px;
}

.disabled {
  color: rgb(133, 133, 133);
  opacity: 0.3;
}

nav {
  font-size: large;
}

.badge {
  border-radius: 20px;
  font-size: 1rem;
}

.dropdown-menu {
  opacity: 0.9;
  padding: 0%;
  cursor: pointer;
  border-radius: 10px;
}

.dropdown-item {
  padding: 0.8rem;
  border-radius: 10px;
  padding-left: 1.2rem;
}

a:hover {
  transform: scale(1.01);
  text-shadow: 2px 2px 15px #cececeb0;
  text-decoration: none;
}

.form-control {
  opacity: 0.8;
  border-radius: 10px;
  margin-left: 20px;
}
