<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section [ngClass]="button1 ? 'collapsible--expanded' : ''" class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <button (click)="button1 = !button1">
          <svg class="icon icon--white collapsible__chevron">
            <use href="../../assets/icons/sprite.svg#chevron"></use>
          </svg>
        </button>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a routerLink="/products">Fruits and Vegetables</a></li>
          <li><a routerLink="/products">Nuts & Seeds</a></li>
          <li><a routerLink="/products">Bread & Grains</a></li>
          <li><a routerLink="/products">Dairy </a></li>
          <li><a routerLink="/products">Fish & Meat</a></li>
        </ul>
      </div>
    </section>
    <section [ngClass]="button2 ? 'collapsible--expanded' : ''" class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <button (click)="button2 = !button2">
          <svg class="icon icon--white collapsible__chevron">
            <use href="../../assets/icons/sprite.svg#chevron"></use>
          </svg>
        </button>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Customer Statements</a></li>
        </ul>
      </div>
    </section>
    <section [ngClass]="button3 ? 'collapsible--expanded' : ''" class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">News</h2>
        <button (click)="button3 = !button3">
          <svg class="icon icon--white collapsible__chevron">
            <use href="../../assets/icons/sprite.svg#chevron"></use>
          </svg>
        </button>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Discounts</a></li>
          <li><a href="#">Proposals</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Local Farmers Alliance</a></li>
        </ul>
      </div>
    </section>
    <section [ngClass]="button4 ? 'collapsible--expanded' : ''" class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <button (click)="button4 = !button4">
          <svg class="icon icon--white collapsible__chevron">
            <use href="../../assets/icons/sprite.svg#chevron"></use>
          </svg>
        </button>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Refund Information</a></li>
          <li><a href="#">Faq Buyers</a></li>
          <li><a href="#">Faq Sellers</a></li>
        </ul>
      </div>
    </section>
    <div class="footer__brand">
      <img src="https://images.pexels.com/photos/797643/pexels-photo-797643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
      <p class="footer__text">This is a fictional website created as a technical challenge. All Image/Gif assets uploaded are copyright © of their respective owners.</p>
      <a href="https://www.freepik.com/vectors/people">People vector created by studiogstock - www.freepik.com</a>
    </div>
  </div>
  <p class="footer__copyright text-center"><img height="30px" src="../../assets/icons/logo.svg" />Copyright 2021 FoodN'Stuff</p>
</footer>
