.container {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  border-radius: 20px;
  max-width: 300px;
  object-fit: cover;
  margin-right: 1rem;
}

thead {
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

td {
  font-size: large;
  vertical-align: middle;
}

p {
  font-size: large;
}
