<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>You have {{ cart.totalItemsCount }} items in your shopping cart</p>
  <div class="mat-elevation-z8 container">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td><img [src]="item.product.imageUrl" /> {{ item.product.title }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.product.price * item.quantity | currency: "EUR" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
