.main-container {
  /* width: 94vw; */
  margin-right: 1.5srem;
  margin-left: 1.5rem;
  margin-top: 75px;
}

.container {
  padding: 0;
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: large;
}

img {
  border-radius: 20px;
  max-width: 200px;
  object-fit: cover;
  margin-right: 1rem;
}

thead {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

td {
  vertical-align: middle;
}

.btn-secondary:hover {
  background-color: tomato;
  outline: 0;
  border-color: tomato;
}

p {
  font-size: large;
}

.table th,
.table td {
  border: 1px !important;
}

h1 {
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  img {
    border-radius: 20px;
    width: 60px;
    object-fit: cover;
  }

  .container {
    padding: 0;
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: small;
  }

  .main-container {
    /* width: 94vw; */
    margin-right: 10px;
    margin-left: 10px;
  }

  p {
    font-size: small;
  }
}
