.container {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: large;
}

img {
  border-radius: 20px;
  max-width: 200px;
  object-fit: cover;
  margin-right: 1rem;
}

thead {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

td {
  vertical-align: middle;
}

.btn-secondary:hover {
  background-color: tomato;
  outline: 0;
  border-color: tomato;
}
