.btn-danger {
  margin-left: 1rem;
}

.my-container {
  margin-top: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

input {
  border-radius: 30px;
}

.btn {
  border-radius: 30px;
}

.btn-primary {
  background-color: teal;
}
