.vertical-margin {
  margin-top: auto;
  margin-bottom: auto;
}

button {
  border-radius: 20px;
  outline: none;
  background-color: rgb(80, 80, 80);
  opacity: 0.7;
  color: white;
}

.btn:hover {
  transform: scale(1.1);
  animation: transform 1 ease-in-out;
  box-shadow: 0px 0px 15px 2px grey;
}

.btn-plus:hover {
  background-color: rgba(0, 165, 8, 0.808);
  color: white;
}

.btn-minus:hover {
  background-color: rgba(255, 73, 41, 0.726);
  color: white;
}

.btn:active {
  transform: scale(1.3);
  animation: transform 1 ease-in-out;
  box-shadow: 0px 0px 15px 2px grey;
}

@media screen and (max-width: 528px) {
  button {
    height: 20px;
    width: 20px;
    line-height: 10px;
    padding-left: 5px;
    padding-top: 5px;
  }
}
