.container {
  margin-top: 100px !important;
}

table {
  margin-top: 50px;
  border-radius: 10px;
}

thead {
  border-top-left-radius: 20px !important;
}

.btn-primary {
  background-color: teal;
  border-radius: 30px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary:hover {
  opacity: 0.9;
}
