table.dataTable tbody tr.even {
  background-color: rgb(251, 251, 251);
  border: 0px;
  outline: none;
}

table.dataTable {
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
}

table.dataTable .paginate_button .current {
  color: rebeccapurple;
}

table.dataTable a .paginate_button .current {
  background: white !important ;
}
