<div class="my-container">
  <div class="horizontal-scrollable hide-scrollbar sticky-top">
    <div *ngIf="screenWidth < 1200" class="row">
      <product-filter [is-horizontal]="true" [category]="category"></product-filter>
    </div>
  </div>

  <div class="row">
    <div *ngIf="screenWidth >= 1200" class="col-2">
      <product-filter [category]="category"></product-filter>
    </div>
    <div class="col">
      <div *ngIf="cart$ | async as cart" class="mt-top row row-cols-auto">
        <ng-container *ngFor="let product of filteredProducts; let i = index">
          <div [class.col-xl-2]="screenWidth > breakpointXL" [class.col-xl-3]="screenWidth < breakpointXL" class="col-xs-12 col-sm-6 col-lg-4">
            <product-card [product]="product" [shopping-cart]="cart"></product-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
