/* .container {
  width: 100vw;
  height: 100vh;
  background: red;
} */

.my-container {
  /* width: 94vw; */
  margin-right: 1.2rem;
  margin-left: 1rem;
  margin-top: 75px;
}

.horizontal-scrollable > .row {
  white-space: nowrap;
}

.horizontal-scrollable {
  margin-bottom: 20px;
  overflow-x: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollhide {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox */
}

.sticky-top {
  top: 80px;
}
