<div class="quote-block align-content-center">
  <Blockquote>
    <h1 class="quote-heading display-4 text-center">What Our Customers are Saying</h1>
  </Blockquote>

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="jumbotron text-center">
        <img class="user-pic" src="https://images.pexels.com/photos/428328/pexels-photo-428328.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" />

        <p class="user-text lead">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum similique ipsa, nam vero ipsam cum cumque, placeat, a consectetur deserunt quod vel eligendi fugit perspiciatis explicabo magni et eaque consequatur aperiam. Fugiat dolorem inventore veniam ut!
          Incidunt nostrum, quisquam voluptate eum blanditiis sit id. Accusamus error commodi sint inventore maxime.
        </p>
        <p class="user-name lead">- John Smith</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="jumbotron text-center">
        <img class="user-pic" src="https://images.pexels.com/photos/428321/pexels-photo-428321.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" />
        <p class="user-text lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim tempora veniam id blanditiis provident rerum eius, sed consequatur, ratione, doloribus nobis dolorem! Architecto nihil at tenetur dolor voluptates laborum, aut atque tempore! Esse vitae impedit harum
          accusamus. Sequi aperiam odit temporibus magnam omnis nisi. Atque aliquam molestiae reiciendis repellat temporibus.
        </p>
        <p class="user-name lead">- Julia Newton</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="jumbotron text-center">
        <img class="user-pic" src="https://images.pexels.com/photos/793253/pexels-photo-793253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />

        <p class="user-text lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quisquam quam, provident harum fugit modi numquam saepe dignissimos, culpa itaque ex tempora impedit rem voluptas officia iusto facilis quae tenetur omnis beatae eius, repellat similique eaque nesciunt. Hic
          sapiente sed dolore quam, placeat vel ipsa voluptatum animi cumque enim? Magni.
        </p>
        <p class="user-name lead">- Kishore Srivastav</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="jumbotron text-center">
        <img class="user-pic" src="https://images.pexels.com/photos/2460488/pexels-photo-2460488.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" />

        <p class="user-text lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae illo commodi incidunt deserunt temporibus dolorem excepturi doloribus nostrum libero explicabo, assumenda, autem maxime magnam voluptates provident cum sint dolor amet quidem laborum expedita perferendis
          dolores similique. Consectetur nisi eos sequi, voluptatem cum dolores placeat repellat obcaecati.
        </p>
        <p class="user-name lead">- Bob Swanson</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="jumbotron text-center">
        <img class="user-pic" src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />

        <p class="user-text lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quisquam quam, provident harum fugit modi numquam saepe dignissimos, culpa itaque ex tempora impedit rem voluptas officia iusto facilis quae tenetur omnis beatae eius, repellat similique eaque nesciunt. Hic
          sapiente sed dolore quam, placeat vel ipsa voluptatum animi cumque enim? Magni.
        </p>
        <p class="user-name lead">- Anabelle Smith</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="jumbotron text-center">
        <img class="user-pic" src="https://images.pexels.com/photos/2294478/pexels-photo-2294478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />

        <p class="user-text lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae illo commodi incidunt deserunt temporibus dolorem excepturi doloribus nostrum libero explicabo, assumenda, autem maxime magnam voluptates provident cum sint dolor amet quidem laborum expedita perferendis
          dolores similique. Consectetur nisi eos sequi, voluptatem cum dolores placeat repellat obcaecati.
        </p>
        <p class="user-name lead">- Yu Zhu</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="jumbotron text-center">
        <img class="user-pic" src="https://images.pexels.com/photos/1181690/pexels-photo-1181690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />

        <p class="user-text lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ab ipsum aspernatur autem eum illo sint voluptates assumenda, doloribus eius dolor sequi beatae hic magnam libero id cum adipisci dolorem natus suscipit temporibus blanditiis laboriosam qui recusandae! Quis
          accusamus nostrum error reiciendis, a rem labore incidunt quisquam, libero, laborum commodi.
        </p>
        <p class="user-name lead">- Jennifer Nguyen</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="jumbotron text-center">
        <img class="user-pic" src="https://images.pexels.com/photos/2222753/pexels-photo-2222753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />

        <p class="user-text lead">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum similique ipsa, nam vero ipsam cum cumque, placeat, a consectetur deserunt quod vel eligendi fugit perspiciatis explicabo magni et eaque consequatur aperiam. Fugiat dolorem inventore veniam ut!
          Incidunt nostrum, quisquam voluptate eum blanditiis sit id. Accusamus error commodi sint inventore maxime.
        </p>
        <p class="user-name lead">- Abdullah Hamed</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
