/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-social/bootstrap-social.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* padding-top: 53px; */
}

.row {
  padding-right: 0px;
  padding-left: 0px;
}
