/* Carousel */
.row {
  margin-right: 0px;
}

.carousel-container {
  width: 100%;
  height: 60vh;
  outline: hidden;
  border: hidden;
  border-radius: 50px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: 0;
}

.carousel-caption {
  font-size: 4vh;
  line-height: 4vh;
  text-shadow: 2px 3px 10 #464545;
  text-align: left;

  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */

  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 10px;
}

/* @media screen and (max-width: 850px) {
  .carousel-caption {
    font-size: 1rem;
    line-height: 1rem;

    padding-left: 1rem;
    padding-right: 1rem;
  }

  .carousel-container {
    width: 100%;
    height: 40vh;
    outline: hidden;
    border: hidden;
    border-radius: 50px;
  }
} */

.card {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
  background-color: #bdbdbd;
  opacity: 0.9;
  border: none;
  box-shadow: 0px 0px 30px rgb(204, 204, 204);
}

.card-img {
  background-color: rgb(216, 216, 216);
  opacity: 0.8;
  color: rgb(255, 255, 255);
  background-image: url(https://images.pexels.com/photos/1334131/pexels-photo-1334131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.card-title {
  font-size: 6vh;
  line-height: 6vh;
}

.card-text {
  padding-top: 2vh;
  font-size: 2vh;
}
