<div class="align-content-center">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="carousel-container"><img src="https://images.pexels.com/photos/3026808/pexels-photo-3026808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></div>

      <div class="carousel-caption">
        <p>Aenean malesuada nisi ut commodo semper</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img src="https://images.pexels.com/photos/706191/pexels-photo-706191.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
      </div>

      <div class="carousel-caption">
        <p>Aenean malesuada nisi ut commodo semper</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img src="https://images.pexels.com/photos/2323398/pexels-photo-2323398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <div class="carousel-caption">
        <p>Aenean malesuada nisi ut commodo semper, Sit amet sagittis dolor</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img src="https://images.pexels.com/photos/4918102/pexels-photo-4918102.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <div class="carousel-caption">
        <p>Commodo semper sit amet sagittis dolor</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img src="https://images.pexels.com/photos/709835/pexels-photo-709835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <div class="carousel-caption">
        <p>Commodo semper sit amet sagittis dolor</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img src="https://images.pexels.com/photos/735002/pexels-photo-735002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <div class="carousel-caption">
        <p>Commodo semper sit amet sagittis dolor</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img src="https://images.pexels.com/photos/4087609/pexels-photo-4087609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <div class="carousel-caption">
        <p>Commodo semper sit amet sagittis dolor</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img src="https://images.pexels.com/photos/1467753/pexels-photo-1467753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <span class="carousel-caption">
        <p>Commodo semper sit amet sagittis dolor</p>
      </span>
    </ng-template>
  </ngb-carousel>
</div>

<div class="row">
  <div class="banner">
    <div class="row"><p class="text-centre banner-heading">Fresh & Regional Products</p></div>
    <div><p class="text-centre banner-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, aliquid?</p></div>
  </div>
</div>

<categories-display></categories-display>

<div class="row">
  <div class="banner-img">
    <div class="row"><p class="text-centre banner-heading-img">Bio & GMO Free</p></div>
    <div><p class="text-centre banner-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, aliquid?</p></div>
  </div>
</div>

<footer class="footer-area footer--light align-content-center">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione error natus modi, inventore aspernatur similique fuga minus, corrupti, obcaecati ducimus quaerat praesentium molestiae ex accusamus exercitationem totam ea vero expedita laudantium nam corporis
                maiores eius maxime suscipit. Laboriosam, voluptatibus rem, aliquid consequatur commodi saepe ipsam maiores aut ut magni iste.
              </p>
            </div>
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <h4 class="footer-widget-title">Popular Category</h4>
              <ul>
                <li><a href="#">HTML Template</a></li>
                <li><a href="#">Wordpress</a></li>
                <li><a href="#">Plugins</a></li>
                <li><a href="#">Admin Template</a></li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title">Our Company</h4>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="#">Affiliates</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              <h4 class="footer-widget-title">Help Support</h4>
              <ul>
                <li><a href="#">Support Forum</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Support Policy</a></li>
                <li><a href="#">Refund Policy</a></li>
                <li><a href="#">Buyers Faq</a></li>
                <li><a href="#">Sellers Faq</a></li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- Ends: .col-lg-3 -->
      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2021 All rights reserved</p>
          </div>

          <div class="go_top">
            <span class="icon-arrow-up"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
