.carousel-container {
  width: 100%;
  height: 60vh;
  outline: hidden;
  border: hidden;
  border-radius: 50px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: 0;
  border-radius: 20px;
}

img :active {
  outline: hidden;
}

.carousel-caption {
  font-size: 3rem;
  line-height: 3rem;
  text-shadow: 2px 3px 10 #464545;
  text-align: left;

  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */

  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 10px;
}

@media screen and (max-width: 628px) {
  .carousel-caption {
    font-size: 1rem;
    line-height: 1rem;

    padding-left: 1rem;
    padding-right: 1rem;
  }

  .carousel-container {
    width: 100%;
    height: 40vh;
    outline: hidden;
    border: hidden;
    border-radius: 50px;
  }
}
