<ngb-carousel>
  <ng-template ngbSlide>
    <div class="carousel-container"><img src="https://images.pexels.com/photos/3026808/pexels-photo-3026808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></div>

    <div class="carousel-caption">
      <p>Aenean malesuada nisi ut commodo semper</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="carousel-container">
      <img src="https://images.pexels.com/photos/4918102/pexels-photo-4918102.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
    <div class="carousel-caption">
      <p>Commodo semper sit amet sagittis dolor</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="carousel-container">
      <img src="https://images.pexels.com/photos/2323398/pexels-photo-2323398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
    <div class="carousel-caption">
      <p>Aenean malesuada nisi ut commodo semper, Sit amet sagittis dolor</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="carousel-container">
      <img src="https://images.pexels.com/photos/709835/pexels-photo-709835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
    <div class="carousel-caption">
      <p>Commodo semper sit amet sagittis dolor</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="carousel-container">
      <img src="https://images.pexels.com/photos/735002/pexels-photo-735002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
    <div class="carousel-caption">
      <p>Commodo semper sit amet sagittis dolor</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="carousel-container">
      <img src="https://images.pexels.com/photos/4087609/pexels-photo-4087609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
    <div class="carousel-caption">
      <p>Commodo semper sit amet sagittis dolor</p>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="carousel-container">
      <img src="https://images.pexels.com/photos/1467753/pexels-photo-1467753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
    <span class="carousel-caption">
      <p>Commodo semper sit amet sagittis dolor</p>
    </span>
  </ng-template>
</ngb-carousel>
