<div class="align-content-center">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="carousel-container">
        <img *ngIf="imageLoading" src="/assets/loadingImages/image_loading2.gif" alt="loading" />
        <img [hidden]="imageLoading" (load)="onLoad()" src="https://images.pexels.com/photos/3026808/pexels-photo-3026808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>

      <div class="carousel-caption">
        <p>Aenean malesuada nisi ut commodo semper</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img *ngIf="imageLoading" src="/assets/loadingImages/image_loading2.gif" alt="loading" />
        <img [hidden]="imageLoading" (load)="onLoad()" src="https://images.pexels.com/photos/706191/pexels-photo-706191.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
      </div>

      <div class="carousel-caption">
        <p>Aenean malesuada nisi ut commodo semper</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img *ngIf="imageLoading" src="/assets/loadingImages/image_loading2.gif" alt="loading" />
        <img [hidden]="imageLoading" (load)="onLoad()" src="https://images.pexels.com/photos/2323398/pexels-photo-2323398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <div class="carousel-caption">
        <p>Aenean malesuada nisi ut commodo semper, Sit amet sagittis dolor</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img *ngIf="imageLoading" src="/assets/loadingImages/image_loading2.gif" alt="loading" />
        <img [hidden]="imageLoading" (load)="onLoad()" src="https://images.pexels.com/photos/4918102/pexels-photo-4918102.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <div class="carousel-caption">
        <p>Commodo semper sit amet sagittis dolor</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img *ngIf="imageLoading" src="/assets/loadingImages/image_loading2.gif" alt="loading" />
        <img [hidden]="imageLoading" (load)="onLoad()" src="https://images.pexels.com/photos/709835/pexels-photo-709835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <div class="carousel-caption">
        <p>Commodo semper sit amet sagittis dolor</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img *ngIf="imageLoading" src="/assets/loadingImages/image_loading2.gif" alt="loading" />
        <img [hidden]="imageLoading" (load)="onLoad()" src="https://images.pexels.com/photos/735002/pexels-photo-735002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <div class="carousel-caption">
        <p>Commodo semper sit amet sagittis dolor</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img *ngIf="imageLoading" src="/assets/loadingImages/image_loading2.gif" alt="loading" />
        <img [hidden]="imageLoading" (load)="onLoad()" src="https://images.pexels.com/photos/4087609/pexels-photo-4087609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <div class="carousel-caption">
        <p>Commodo semper sit amet sagittis dolor</p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="carousel-container">
        <img *ngIf="imageLoading" src="/assets/loadingImages/image_loading2.gif" alt="loading" />
        <img [hidden]="imageLoading" (load)="onLoad()" src="https://images.pexels.com/photos/1467753/pexels-photo-1467753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </div>
      <span class="carousel-caption">
        <p>Commodo semper sit amet sagittis dolor</p>
      </span>
    </ng-template>
  </ngb-carousel>
</div>

<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title">Fresh & Regional Products</h1>
    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, aliquid</p>
  </div>
</div>

<categories-display></categories-display>

<app-testimonials> </app-testimonials>

<div class="card card-img text-center">
  <div class="card-body">
    <h1 class="card-title">Bio & GMO Free</h1>
    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, aliquid?</p>
  </div>
</div>

<footer-display></footer-display>
